header {
  background-color: #1b3936;
  background-image: url("../assets/img/common/box-pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  font-family: "switzer-400";
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding: 30px 50px 0px 50px;
  color: white;
  font-size: 18px;
  line-height: 23.76px;
  text-align: center;
}

nav img {
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 40px;
  cursor: pointer;
}
